* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  list-style: none;
}

body {
  background-image: url(../img/vertical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/* ---------------------------------------------------------NavBar--------------------------------------------- */

.navbar-brand {
  color: #198754 !important;
}

.navbar-brand:hover {
  color: #15bb03 !important;
}

.dropdown-toggle {
  color: #198754 !important;
}
.dropdown-toggle:hover {
  color: #15bb03 !important;
}

.dropdown-item {
  color: #198754 !important;
}

.dropdown-item:hover {
  color: #15bb03 !important;
}

.navbar {
  height: 100px;
  width: 100%;
  background: #bfd3fa !important;
}

.navbar-brand img {
  height: 80px;
  transition: all 1s;
}

.navbar-brand img:hover {
  scale: 1.2;
}

.ocultar {
  display: none;
}

/* ---------------------------------------------------------Index--------------------------------------------- */

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.in-flex {
  flex: 2;
  min-width: 250px;
  color: rgb(171, 143, 102);
  padding: 25px;
  background: transparent;
  filter: blur(2px);
  margin: 20px;
  margin-bottom: 0px;
  border: 2px solid;
  border-radius: 10px;
  transition: all 2s;
}
.in-flex:hover {
  filter: blur(0px);
}

.top {
  margin-top: 200px;
}

.picture-container {
  margin-top: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  width: 100%;
  height: 100%;
}
.picture img {
  width: 100%;
}
.main {
  margin-bottom: 100px;
}

.bottom {
  margin-top: 200px;
  margin-bottom: 100px;
}

.search-container {
  margin-right: -50px;
  margin-top: 100px;
  height: 300px;
  max-width: 250px;
  filter: none;
  padding: 0px;
  display: flex;
}

.search-container ul li {
  color: #ab8f66;
  margin-top: 7px;
}
.search-container ul li:hover {
  color: #764700;
}

.tabla-container{
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.tabla {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.tabla420px {
  display: none;
}

.fila {
  display: table-row;
}

.celda {
  display: table-cell;
  border: 1px solid #ab8f66;
  padding: 5px;
}

.celda a {
  color: #bfd3fa
}

.titulo {
  color: #5c56cb;
}


/* -------------------------------------------------------Contacto--------------------------------------------- */

.body-contacto {
  background-image: url(../img/background2.jpeg);
  background-size: 200vh;
}

.input {
  display: block;
  width: 400px;
  margin-bottom: 20px;
  margin-left: 75px;
}
input,
select,
textarea {
  background-color: #bfd3fa;
  color: #ab8f66;
}

.form {
  width: 600px;
  height: 750px;
  margin-bottom: 100px;
}

#submit {
  width: 70px;
  margin-left: auto;
}

textarea {
  resize: none;
  height: 200px;
}

.input:focus {
  background-color: #738dc1;
  color: #000;
  transition: all 1s;
}

.test {
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------Bebidas--------------------------------------------- */

.body-bebidas {
  background-image: linear-gradient(to left, #738dc1, #bfd3fa);
}

.content {
  max-width: 1100px;
  width: 100%;
  margin: 40px auto;
  display: flex;
}

.contenedor-productos {
  width: 100%;
  transition: 0.5;
  flex-direction: column;
}

.contenedor-productos .fila {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.contenedor-productos .fila .producto {
  max-width: 210px;
  min-width: 210px;
  padding: 30px;
  height: 300px;
  text-align: center;
  margin: 30px 10px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    #bfd3fa,
    wheat,
    rgba(255, 188, 63, 0.68)
  );
  color: #198754;
  font-weight: bold;
}

.contenedor-productos .fila .producto:hover {
  background-image: none;
  background: #bfd3fa;
  transition: 2s;
}

.contenedor-productos .fila .producto img {
  width: 100%;
  margin: 30px 0;
}

a {
  text-decoration: none;
}

.info-2 {
  display: none;
}

.contenedor-productos .fila .producto:hover {
  .info {
    display: none;
  }

  .info-2 {
    display: block;
    font-size: 18px;
  }
}

/* --------------------------------------------------------Comidas--------------------------------------------- */

.comidas {
  height: 100vh;
}

.fila-comida {
  margin-top: 150px;
}

/* -----------------------------------------------------Recomendacion--------------------------------------------- */

.recomen {
  height: 200vh;
}

.contenido-clima {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  height: auto;
}
.home-clima {
  display: grid;
  width: 320px;
  border: 4px solid #ab8f66;
  border-radius: 40px;
  height: auto;
  padding: 15px;
  gap: 30px;
  background-color: #bfd3fa;
  transition: all 1s;
  margin-bottom: 40px;
}

.home-clima a {
  color: #ab8f66;
}

.home-clima a:hover {
  color: #764700;
}
.home-clima h1 {
  color: #198754;
  font-size: 30px;
  transition: all 1s;
}
.result p {
  font-size: 20px;
  transition: all 1s;
}
.result p:hover {
  scale: 1.2;
}
h5 {
  font-size: 20px;
}
h2 {
  font-size: 40px;
}

.input-clima {
  background-color: #738dc1;
  color: #000;
  margin: 10px;
}
#pais {
  background-color: #738dc1;
  color: #000;
}

/* ---------------------------------------------------------Footer--------------------------------------------- */

footer {
  height: 50px;
  width: 100%;
  background: #bfd3fa;
  bottom: 0;
  left: 0;
  display: flex;
  position: fixed;
  justify-content: end;
  align-items: end;
  gap: 50px;
}

footer h3 {
  font-size: 15px;
}

i {
  font-size: 30px;
  color: #000;
}

.instagram i:hover {
  color: #cc0ad6;
  scale: 1.3;
  transition: all 1s;
}

.twitter i:hover {
  color: #2eaeee;
  scale: 1.3;
  transition: all 1s;
}

.facebook {
  margin-right: 30px;
}

.facebook i:hover {
  color: #231aca;
  scale: 1.3;
  transition: all 1s;
}

/* -----------------------------------------------MediaQuerysIndex--------------------------------------------- */

@media (max-width: 930px) {
  body {
    background-size: 200vw 500vh;
  }
}

@media (max-width: 735px) {
  .index-body {
    background-image: linear-gradient(to left, #738dc1, #bfd3fa);
  }

  .tabla #item {
    color: #198754;
  }
  .tabla li {
    color: #15bb03;
  }

  #title {
    color: #000;
  }
}

@media (max-width: 440px) {
  i {
    font-size: 17px;
  }
  footer h3 {
    font-size: 11px;
  }

  footer {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .tabla {
    display: none;
  }
  .tabla420px {
    display: table;
  }
  .celda{
     color: #198754;
  }
}

/*----------------------------------------------MediaQuerysSearchBar------------------------------------------- */

@media (max-width: 2560px) {
  .in-flex {
    margin-top: 150px;
  }
}

@media (max-width: 1475px) {
  .in-flex {
    margin-top: 150px;
  }
}
@media (max-width: 1056px) {
  .search-container {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .in-flex {
    margin-top: 200px;
  }

  .search-container {
    margin-right: 20px;
  }
}

@media (max-width: 931px) {
  body {
    background-size: 660vh 500vw;
    background-position-x: -500px;
  }
}

@media (max-width: 815px) {
  body {
    background-size: 800vh 600vw;
  }
}

@media (max-width: 767px) {
  .in-flex {
    margin-top: 620px;
    margin-bottom: 20px;
    position: absolute;
  }

  .search-container {
    margin-top: 100px;
    width: 200px;
    margin-bottom: 20px;
  }

  .picture-container {
    display: none;
  }

  body {
    background-size: 200vw 700vh;
    background-position-x: 0px;
  }
  .bottom {
    margin-top: 2500px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
  }
}

@media (max-width: 445px) {
  .picture-container {
    margin-top: 1750px;
  }
}

@media (max-width: 353px) {
  .in-flex {
    margin-top: 660px;
  }
  .search-container {
    margin-top: 320px;
    width: 200px;
    margin-bottom: 20px;
  }

  .picture-container {
    display: none;
  }
  body {
    background-size: 200vw 820vh;
  }
  .bottom {
    margin-top: 2500px;
    margin-bottom: 20px;
  }
}

/*-----------------------------------------------MediaQuerysContacto------------------------------------------- */

@media (max-width: 1480px) {
  .body-contacto {
    /* background-image: linear-gradient(to left, #3861b5, #bfd3fa); */
    background-size: 200vh 200vh;
  }
}

@media (max-width: 988px) {
  .form {
    margin-top: 150px;
  }
  .form-container {
    margin-bottom: 200px;
  }
  .body-contacto {
    background-size: 400vh;
  }
}

@media (max-width: 650px) {
  .navbar-brand {
    flex-direction: column !important;
    font-size: 15px !important;
  }

  .form {
    width: 400px;
  }
  .input {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 22px;
  }

  #submit {
    margin-left: 240px;
  }
}

@media (max-width: 402px) {
  .form {
    width: 300px;
    margin-left: 0;
    margin-top: 150px;
  }
  .input {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 22px;
  }
  #submit {
    margin-left: 150px;
  }
}

/*------------------------------------------MediaQuerysBebidas--------------------------------------------------*/

@media (max-width: 992px) {
  .contenedor-productos {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  .navbar {
    height: 400px;
  }
}

@media (max-width: 490px) {
  .contenedor-productos {
    margin-top: 220px;
  }
}

@media (max-width: 462px) {
  .navbar {
    height: 400px;
  }
}

/*------------------------------------------MediaQuerysComidas--------------------------------------------------*/

@media (max-width: 992px) {
  .fila-comida {
    margin-top: 0;
  }
}

/*--------------------------------------------------------------------------------------------------------------*/
