* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
}

body {
  background-image: url(../img/vertical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/* ---------------------------------------------------------NavBar--------------------------------------------- */

.navbar-brand {
  color: #198754 !important;
}

.navbar-brand:hover {
  color: #15bb03 !important;
}

.dropdown-toggle {
  color: #198754 !important;
}

.dropdown-toggle:hover {
  color: #15bb03 !important;
}

.dropdown-item {
  color: #198754 !important;
}

.dropdown-item:hover {
  color: #15bb03 !important;
}

.navbar {
  height: 100px;
  width: 100%;
  background: #bfd3fa !important;
}

.navbar-brand img {
  height: 80px;
  transition: all 1s;
}

.navbar-brand img:hover {
  scale: 1.2;
}

/* ---------------------------------------------------------Index--------------------------------------------- */

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.in-flex {
  flex: 2;
  min-width: 250px;
  color: rgb(171, 143, 102);
  padding: 25px;
  background: transparent;
  filter: blur(2px);
  margin: 20px;
  margin-bottom: 0px;
  border: 2px solid;
  border-radius: 10px;
  transition: all 2s;
}
.in-flex:hover {
  filter: blur(0px);
}

.top {
  margin-top: 200px;
}

.picture-container {
  margin-top: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  width: 100%;
  height: 100%;
}
.picture img {
  width: 100%;
}
.main {
  margin-bottom: 100px;
}

.bottom {
  margin-top: 200px;
  margin-bottom: 100px;
}

/* -------------------------------------------------------Contacto--------------------------------------------- */

.body-contacto {
  background-image: url(../img/background2.jpeg);
}

.input {
  display: block;
  width: 400px;
  margin-bottom: 20px;
  margin-left: 75px;
}
input,
select,
textarea {
  background-color: #bfd3fa;
  color: #ab8f66;
}

.form {
  width: 600px;
  height: 750px;
  margin-bottom: 100px;
}

#submit {
  width: 70px;
  margin-left: auto;
}

textarea {
  resize: none;
  height: 200px;
}

.input:focus {
  background-color: #738dc1;
  color: #000;
  transition: all 1s;
}

/* -------------------------------------------------------Bebidas--------------------------------------------- */

.body-bebidas {
  background-image: linear-gradient(to left, #738dc1, #bfd3fa);
}

.content {
  max-width: 1100px;
  width: 100%;
  margin: 40px auto;
  display: flex;
}

.contenedor-productos {
  width: 100%;
  transition: 0.5;
  flex-direction: column;
}

.contenedor-productos .fila {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.contenedor-productos .fila .producto {
  max-width: 210px;
  min-width: 210px;
  padding: 30px;
  height: 300px;
  text-align: center;
  margin: 30px 10px;
  border-radius: 30px;
  transition: 0.5s;
  background-image: linear-gradient(
    to bottom,
    #bfd3fa,
    wheat,
    rgba(255, 188, 63, 0.68)
  );
  color: #198754;
  font-weight: bold;
}

.contenedor-productos .fila .producto:hover {
  background-image: none;
  background: #bfd3fa;
  transition: 2s;
}

.contenedor-productos .fila .producto img {
  width: 100%;
  margin: 30px 0;
}

a {
  text-decoration: none;
}

/* --------------------------------------------------------Comidas--------------------------------------------- */

.comidas {
  height: 100vh;
}

.fila-comida {
  margin-top: 150px;
}

/* ---------------------------------------------------------Footer--------------------------------------------- */

footer {
  height: 50px;
  width: 100%;
  background: #bfd3fa;
  bottom: 0;
  left: 0;
  display: flex;
  position: fixed;
  justify-content: end;
  align-items: end;
  gap: 50px;
}

footer h3 {
  font-size: 15px;
}

i {
  font-size: 30px;
  color: #000;
}

.instagram i:hover {
  color: #cc0ad6;
  scale: 1.3;
  transition: all 1s;
}

.twitter i:hover {
  color: #2eaeee;
  scale: 1.3;
  transition: all 1s;
}

.facebook {
  margin-right: 30px;
}

.facebook i:hover {
  color: #231aca;
  scale: 1.3;
  transition: all 1s;
}

/* -----------------------------------------------MediaQuerysIndex--------------------------------------------- */

@media (max-width: 930px) {
  body {
    background-size: 200vw 500vh;
  }
}

@media (max-width: 550px) {
  body {
    background-size: 200vw 550vh;
  }
}

@media (max-width: 462px) {
  body {
    background-size: 200vw 660vh;
  }
}

@media (max-width: 400px) {
  body {
    background-size: 200vw 710vh;
  }
}

@media (max-width: 329px) {
  body {
    background-size: 200vw 740vh;
  }
}

@media (max-width: 440px) {
  i {
    font-size: 17px;
  }
  footer h3 {
    font-size: 11px;
  }

  footer {
    justify-content: center;
  }
}

/*-----------------------------------------------MediaQuerysContacto------------------------------------------- */

@media (max-width: 988px) {
  .form {
    margin-top: 150px;
  }
  .form-container {
    margin-bottom: 200px;
  }
}

@media (max-width: 650px) {
  .navbar-brand {
    flex-direction: column !important;
    font-size: 15px !important;
  }

  .form {
    width: 400px;
  }
  .input {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 22px;
  }

  #submit {
    margin-left: 240px;
  }
}

@media (max-width: 402px) {
  .form {
    width: 300px;
    margin-left: 0;
    margin-top: 150px;
  }
  .input {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 22px;
  }
  #submit {
    margin-left: 150px;
  }
}

/*------------------------------------------MediaQuerysBebidas--------------------------------------------------*/

@media (max-width: 992px) {
  .contenedor-productos {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
}

@media (max-width: 490px) {
  .contenedor-productos {
    margin-top: 220px;
  }
}

@media (max-width: 462px) {
  .navbar {
    height: 150px;
  }
}

/*------------------------------------------MediaQuerysComidas--------------------------------------------------*/

@media (max-width: 992px) {
  .fila-comida {
    margin-top: 0;
  }
}
